@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 767px) {

    /*--------------------------------------------INDEX---767px------------------------------*/
    .bg{
    background-image: url('../images/index_mobile_bg_header.png');
    }
    .header_div{
        max-width: 550px;
        margin: auto;
        text-align: center;
    }
    header{
        background-color: #2d3233;
        opacity: 50%;
    }
    .logo_header{
        max-width: 370px;
        height: 45px;
    }
    .menu i{
        padding-top: 10px;
        font-size: 30px;
    }
    /*----------------------------------------CAROUSEL---------------------------------------*/
    .owl-carousel .owl-nav .owl-prev:before{
        top: 100px;
    }
    .owl-carousel .owl-nav .owl-next:before{
        top: 100px;
    }
    /*--------------------------------------------------------------------------------------*/
    /*--------------------------------------sidenav----------------------------------------*/
    .sidenav{padding-top: 15px}
    .sidenav a{font-size: 18px}
    /*----------------------------------------------------------------------------------------*/
    .main{
        padding: 15px;
    }
    .main_h3 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .bg h1 {
        font-size: 50px;
        top: 35%;
        left: 5%;
    }
    .header_menu_h4{
        color: transparent;
    }
    .who_we_are {
        background-color: #fff;
        padding: 40px 15px 70px;
    }
    .main_h5,.index_p,.photo p,.a_contact,.right,.left{
        font-size: 30px;
        line-height: 40px;
    }
    .index_p{
        margin-bottom: 50px;
        line-height: 40px;
    }
    .what_we_do,.who_we_are2,.last_post{
        padding: 15px 15px 60px;
    }
    .work_all_img {
        width: 50%;
    }
    .who_we_are a,.more{
        padding: 15px;
        font-size: 20px;
    }
    h4{
        font-size: 45px;
    }
    .three_photo,.keyboard,.maps{
        height: 5%;
    }
    .maps {
        margin-bottom: 25px;
    }
    .main,.three_photo,.keyboard,.maps,.time\+p,.location,.phone,.fax,.email{
        width: 100%;
    }
    .last_photo {
        display: block;
        margin-bottom: 40px;
    }
    .time\+p{
        padding: 15px;
        display: block;
        height: 100%;

    }
    .time\+p h6{
        padding-bottom: 30px;
        font-size: 45px;
    }
    .index_time\+p,.contact p{
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 40px;
    }
    .time\+p a,.more {
        padding: 10px 15px;
    }
    .maps\+contact img,.a_contact,.contact h5,.contact_us{
        margin-bottom: 30px;
    }
    .location,.phone,.fax,.email,.contact,.maps\+contact,.all_photo{
        text-align: center;
        margin: auto;
        display: block;
    }
    .right,.left{
        margin: 15px;
    }

/*-------------------------------------ABOUT----767px--------------------------------------*/
    .about_bg {
        background-image: url('../images/about_mobile_bg_header.jpg');
        background-size: cover;
        height: 100vh;
        margin-bottom: 80px;
    }
    .about_section {
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 15px 15px 80px;
    }
    .about_dinner{
        width: 100%;
        height: 10%;
    }
    .photo_about h6{
        font-size: 50px;
    }
    .about_section p,.photo_about p,.photo_about li{
        font-size: 15px;
    }
    .about_p\+ul{
        display: block;
    }
    .photo_about ul{
        margin: 15px 50px;
    }
/*-------------------------------------------BLOG---767px-----------------------------*/
    .blog_header_bg {
        background-image: none;
        height: 0;
        }

    .blog_main,.blog_write,.blog_container{
        padding: 15px;
    }
    .blog_container,.blog_write_pictures,.blog_pictures{
        width: 100%;
    }
    .blog_container {
        margin: auto;
        background-color: #fff;
    }
    .blog_write_pictures,.blog_pictures{
        height: 10%;
        margin: auto;
    }
    .list3,.secondary_container{
        display: block;
    }
    aside{
        margin-bottom: 50px;
        background-color: #f9f9f9;
    }
    .blog_main h2{
        font-size: 56px;
    }
    .blog_main p,.blog_a,.blog_write a,.blog_main time,.blog_write a {
        font-size: 20px;
    }
    .blog_h3{
        margin-bottom: 20px;
        font-size: 42px;
    }
    /*------------------------------------CONTACT---767px------------------------------*/

    .contact_top {
        height: 0;
        background-image: none;
    }
    .contact_container {
        max-width: 100%;
    }
    .contact_container h5 {
        margin-top: 60px;
        font-size: 30px;
        margin-bottom: 60px;
        display: inline-block;
    }
    .contact_container h3{
        font-size: 50px;
        margin-bottom: 90px;
    }
    .contact_mid_left_top h6{
        font-size: 45px;
        line-height: 60px;
        margin-bottom: 40px;
    }
    .contact_mid_left_top h6:before {
        border-top: solid 6px #fff;
        width: 58px;
        margin-bottom: 96px;
    }
    .contact_mid_left_top,.contact_mid_right_top,.contact_mid_left_bottom,.contact_mid_right_bottom{
        height: 10%;
        width: 100%;
        float: none;
    }
    .contact_mid_left_bottom{
        padding: 78px 133px;
    }
    .contact_mid_left_bottom p {
        font-size: 30px;
        line-height: 47px;
    }
    .contact_mid_right_bottom{
        padding: 100px 0 100px 60px;
    }
    .contact_tel {
        font-size: 20px;
    }
    .contact_tel:before {
        border-top: solid 6px #fff;
        width: 58px;
        margin-bottom: 96px;
    }
    .contact_link{
        border: solid 1px #000;
        padding: 47px 100px;
    }
/*-------------------------------------------------PROJECT-----767px----------------------------*/
    .project_top{
        background-image: url('../images/project_mobile_header.png');
    }

    .project_main,.project_container,.project_left_p,.project_link,.project_img_left_min,.project_img_left_max,.project_img_right,.project_right,.project_left{
        width: 100%;
    }
    .project_main{
        margin: auto;
        text-align: center;
    }
    .project_left h6{
        font-size: 95px;
    }
    .project_left_p p{
        font-size: 31px;
        line-height: 35px;
    }
    .project_img_right,.project_img_left_min{
        height: 15%;
    }
    .project_img_left_max{
        height: 20%;
    }
    .project_img_left_min{
        margin-bottom: 5px;
    }
    .project_left,.project_right{
        clear: both;
        margin: auto;
        text-align: center;
    }
    .project_a{
        font-size: 15px;
        padding: 22px 50px;
    }
    /*-----------------------------------------------WORK-----767px------------------------------*/
    .work_top{
        background-image: url('../images/work_mobile_bg_header.png');
        background-size: cover;
        height: 100vh;
    }
    .work_container {
        width: 100%;
    }
    .work_h3{
        font-size: 90px;
    }
    .work_p,.work_h5{
        font-size: 20px;
    }
    .work_h3{
        font-size: 40px;
    }
    .work_all_img {
        width: 100%;
        height: 20%;
    }
    .work_all_img {
        width: 100%;
    }
    .left,.right{
        font-size: 20px;
    }
}

@media only screen and (max-width: 420px) {
    /*---------------------------------------INDEX------420px---------------------------------*/
    .header_div {
        max-width: 250px;
    }
    /*-----------------------------------------------BLOG-------420px----------------------*/
    .blog_main,.blog_write a {
        margin-bottom: 50px;
    }

    }
    .blog_main h2{
        font-size: 40px;
    }
    .blog_h3{
        margin-bottom: 20px;
        font-size: 30px;
    }
    /*--------------------------------------------CONTACT---420px----------------------------------*/
    .contact_container h5 {
        margin-top: 60px;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .contact_mid_left_bottom{
        padding: 15px;
    }
    .contact_mid_left_bottom p {
        font-size: 20px;
        line-height: 25px;
    }
    .contact_tel,.contact_mid_left_top h6 {
        font-size: 30px;
    }
    .contact_mid_left_top h6:before,.contact_tel:before{
        border-top: solid 4px #fff;
        width: 40px;
        margin-bottom: 50px;
    }
    /*----------------------------------------------------PROJECT---420px---------------------------*/
    .project_a{
        font-size: 15px;
        padding: 15px 30px;
}
@media only screen and (max-width: 375px) {
/*--------------------------------------------------INDEX-----375px-----------------------------------*/
    .logo_header{
        width: 200px;
        height: 40px;
    }
    .menu i {
        padding-top: 10px;
        font-size: 30px;
    }
    .index_p{
        margin-bottom: 25px;
    }
    .what_we_do,.what_we_do,.who_we_are2 {
        padding-bottom: 40px;
    }
    .who_we_are a{
        padding: 15px;
    }
    h4 {
        font-size: 25px;
    }
    .a_contact,.index_p,.left,.right,.who_we_are a,.photo p,.main_h5{
        font-size: 17px;
    }
    .last_post{
        margin-bottom: 40px;
    }
/*-------------------------------------------------PROJECT----375px-------------------------*/
    .project_a {
        font-size: 10px;
        padding: 10px 15px;
    }


}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {
    /*-----------------------------------------------INDEX-------320px--------------------------------*/
    .menu i {
        padding-top: 0;
    }
    .bg h1 {
        font-size: 40px;
    }
    .contact p,.right,.left{
        font-size: 17px;
    }
/*---------------------------------------------CONTACT---320px-------------------------------------*/


    .contact_link {
        border: solid 1px #000;
        padding: 20px 40px;
        font-size: 20px;
    }
}
