@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 767px) {

    /*--------------------------------------------INDEX---767px------------------------------*/
    .bg{
    background-image: url('../images/index_mobile_bg_header.png');
    }
    .header_div{
        max-width: 550px;
        margin: auto;
        text-align: center;
    }
    .logo_header{
        width: 370px;
        height: 85px;
    }
    .menu i{
        padding-top: 10px;
       font-size: 50px;
    }
    .bg h1{
        font-size: 80px;
        letter-spacing: 5px;
    }
    .header_menu_h4{
        color: transparent;
    }
    .who_we_are {
        background-color: #fff;
        padding: 40px 15px 70px;
    }
    .main_h3{
        font-size: 80px;
        margin-bottom: 40px;
    }
    .main_h5,.index_p{
        font-size: 30px;
    }
    .index_p{
        margin-bottom: 50px;
        line-height: 40px;
    }
    .photo p{
        font-size: 30px;
        line-height: 40px;
    }
    .what_we_do,.who_we_are2{
        padding-bottom: 80px;
    }
    .work_all_img {
        width: 50%;
    }
    .who_we_are a{
        padding: 15px;
        font-size: 20px;
    }
    h4{
        font-size: 45px;
    }
    .three_photo{
        width: 750px;
        height: 530px;
    }
    .keyboard{
        width: 750px;
        height: 750px;
    }
    .maps {
        width: 750px;
        height: 250px;
        margin-bottom: 25px;
    }
    .last_post{
        margin-bottom: 80px;
    }
    .main{
        max-width: 750px;
    }
    .last_photo {
        display: block;
        margin-bottom: 40px;
    }
    .time\+p{
        padding: 15px;
        display: block;
        height: 100%;
        width: 100%;

    }
    .time\+p h6{
        padding-bottom: 30px;
        font-size: 45px;
    }
    .index_time\+p{
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 40px;
    }
    .time\+p a{
        padding: 10px 15px;
    }
    .more{
        padding: 10px 15px;
        font-size: 20px;
    }
    .contact p{
        font-size: 30px;
        line-height: 40px;
    }
    .contact_us{
        padding-bottom: 40px;
    }
    .contact h5{
    margin-bottom: 25px;
    }
    .maps\+contact img {
        margin-bottom: 25px;
    }
    .a_contact{
        margin-bottom: 25px;
        font-size: 30px;
    }
    .location,.phone,.fax,.email,.contact,.maps\+contact,.all_photo{
        text-align: center;
        margin: auto;
        display: block;
    }
    .location,.phone,.fax,.email{
        width: 750px;
    }
    .right,.left{
        margin: 15px;
        font-size: 30px;
    }

/*-------------------------------------ABOUT----767px--------------------------------------*/
    .about_bg {
        background-image: url('../images/about_mobile_bg_header.jpg');
        background-size: cover;
        height: 100vh;
        margin-bottom: 80px;
    }
    .about_section {
        max-width: 660px;
        margin: auto;
        padding-bottom: 80px;
        text-align: center;
    }
    .about_dinner{
        width: 760px;
        height: 450px;
    }
    .photo_about h6{
        font-size: 50px;
    }
    .about_section p{
        font-size: 15px;
    }
    .photo_about p{
        font-size: 15px;
    }
    .about_p\+ul{
        display: block;
    }
    .photo_about li{
        font-size: 15px;
    }
    .photo_about ul{
        margin: 15px 50px;
    }
/*-------------------------------------------BLOG---767px-----------------------------*/
    .blog_header_bg {
        background-image: none;
        height: 0;
        }

    .blog_main{
        padding: 15px;
    }
    .blog_container {
        max-width: 720px;
        margin: auto;
        background-color: #fff;
        padding: 15px;
    }
    .blog_write {
        padding: 15px;
    }
    .blog_write_pictures {
        width: 700px;
        height: 400px;
    }
    .blog_pictures{
        width: 700px;
        height: 400px;
    }
    .list3,.secondary_container{
        display: block;
    }
    aside{
        margin-bottom: 50px;
        background-color: #f9f9f9;
    }
    .blog_main p{
        font-size: 30px;
    }
    .blog_main h2{
        font-size: 56px;
    }
    .blog_main time{
        font-size: 27px;
    }
    .blog_write a{
        font-size: 30px;
    }
    .blog_h3{
        margin-bottom: 20px;
        font-size: 42px;
    }
    .blog_a{
        font-size: 30px;
    }
    /*------------------------------------CONTACT---767px------------------------------*/
    .contact_top {
        height: 0;
        background-image: none;
    }
    .contact_container {
        max-width: 720px;
    }
    .contact_container h5 {
        margin-top: 60px;
        font-size: 90px;
        margin-bottom: 60px;
    }
    .contact_container h3{
        font-size: 28px;
        margin-bottom: 160px;
    }
    .contact_mid_left_top h6{
        font-size: 45px;
        line-height: 60px;
    }
    .contact_mid_left_top h6:before {
        border-top: solid 6px #fff;
        width: 58px;
        margin-bottom: 96px;
    }
    .contact_mid_left_top,.contact_mid_right_top,.contact_mid_left_bottom,.contact_mid_right_bottom{
        height: 375px;
        width: 670px;
        float: none;
    }
    .contact_mid_left_bottom{
        padding: 78px 133px;
    }
    .contact_mid_left_bottom p {
        font-size: 30px;
        line-height: 47px;
    }
    .contact_mid_right_bottom{
        padding: 100px 0 100px 60px;
    }
    .contact_tel {
        font-size: 45px;
    }
    .contact_tel:before {
        border-top: solid 6px #fff;
        width: 58px;
        margin-bottom: 96px;
    }
    .contact_link{
        border: solid 1px #000;
        padding: 47px 100px;
    }
/*-------------------------------------------------PROJECT-----767px----------------------------*/
    .project_top{
        background-image: url('../images/project_mobile_header.png');
    }

    .project_main,.project_container,.project_left_p,.project_link{
        max-width: 95%;
    }
    .project_main{
        margin: auto;
        text-align: center;
    }
    .project_left h6{
        font-size: 95px;
    }
    .project_left_p p{
        font-size: 31px;
        line-height: 35px;
    }
    .project_img_left_min,.project_img_left_max,.project_img_right,.project_right,.project_left{
        width: 100%;
    }
    .project_img_right{
        height: 14%;
    }
    .project_left,.project_right{
        clear: both;
        margin: auto;
        text-align: center;
    }
    .project_a{
        font-size: 15px;
        padding: 22px 50px;
    }
    /*-----------------------------------------------WORK-----767px------------------------------*/
    .work_top{
        background-image: url('../images/work_mobile_bg_header.png');
        background-size: cover;
        height: 100vh;
    }
    .work_container {
        max-width: 95%;
    }
    .work_h5 {
        font-size: 26px;
    }
    .work_h3{
        font-size: 90px;
    }
    .work_p {
        font-size: 30px;
    }
    .work_all_img {
        width: 95%;
        height: 20%;
    }
    .work_all_img {
        width: 50%;
    }
}

@media only screen and (max-width: 420px) {
    /*---------------------------------------INDEX------420px---------------------------------*/
    .header_div {
        max-width: 250px;
    }
    .work_all_img {
        width: 100%;
    }
    .three_photo{
        width: 405px;
        height: 200px;
    }
    .keyboard{
        width: 405px;
        height: 250px;
    }
    .maps {
        width: 405px;
        height: 200px;
    }
    .location,.phone,.fax,.email {
        width: 405px;
    }
    /*---------------------------------------------ABOUT-----420px----------------------------*/
    .about_dinner {
        width: 405px;
        height: 405px;
    }
    /*-----------------------------------------------BLOG-------420px----------------------*/
    .blog_container {
        max-width: 405px;
    }
    .blog_write_pictures,.blog_pictures{
        width: 405px;
        height: 250px;
        margin: auto;
    }
    .blog_write {
        padding: 0;
    }
    .blog_container{
        padding: 0;
    }
    .blog_main {
        padding: 0;
        margin-bottom: 50px;
    }
    .blog_write a{
        font-size: 20px;
        margin-bottom: 50px;
    }

    .blog_main p{
        font-size: 20px;
    }
    .blog_main h2{
        font-size: 40px;
    }
    .blog_main time{
        font-size: 20px;
    }
    .blog_write a{
        font-size: 20px;
    }
    .blog_h3{
        margin-bottom: 20px;
        font-size: 30px;
    }
    .blog_a {
        font-size: 20px;
    }
    /*--------------------------------------------CONTACT---420px----------------------------------*/
    .contact_container {
        max-width: 95%;
    }
    .contact_mid_left_top,.contact_mid_right_top,.contact_mid_left_bottom,.contact_mid_right_bottom {
        height: 350px;
        width: 100%;
    }
    .contact_mid_left_bottom{
        padding: 15px;
    }
    .contact_mid_left_top h6{
        font-size: 35px;
        line-height: 40px;
    }
    .contact_mid_left_bottom p {
        font-size: 20px;
        line-height: 25px;
    }
    .contact_tel {
        font-size: 30px;
    }
    .contact_mid_left_top h6:before {
        border-top: solid 4px #fff;
        width: 40px;
        margin-bottom: 50px;
    }
    .contact_tel:before {
        border-top: solid 4px #fff;
        width: 40px;
        margin-bottom: 50px;
    }
    /*----------------------------------------------------PROJECT---420px---------------------------*/
    .project_ul{

    }
    .project_a{
        font-size: 15px;
        padding: 15px 30px;
    }
    .left,.right{
        font-size: 20px;
    }

    /*---------------------------------------------WORK-----420px--------------------------------------*/
    .work_all_img {
        width: 100%;
    }
}
@media only screen and (max-width: 375px) {
/*--------------------------------------------------INDEX-----375px-----------------------------------*/
    .header_div {
        max-width: 250px;
    }
    .logo_header{
        width: 200px;
        height: 45px;
    }
    .menu i {
        padding-top: 10px;
        font-size: 30px;
    }
    .bg h1 {
        font-size: 70px;
    }
    .main_h3{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .main_h5{
        font-size: 20px;
    }
    .main {
        max-width: 350px;
    }
    .index_p{
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 25px;
    }
    .photo p{
        font-size: 20px;
        line-height: 25px;
    }
    .what_we_do {
        padding-bottom: 40px;
    }
    .work_all_img {
         width: 100%;
     }
    .who_we_are a{
        padding: 15px;
        font-size: 20px;
    }
    .what_we_do{
        padding-bottom: 40px;
    }
    h4 {
        font-size: 25px;
    }
    .who_we_are2{
        padding-bottom: 40px;
    }
    .three_photo{
        width: 350px;
        height: 200px;
    }
    .keyboard{
        width: 350px;
        height: 250px;
    }
    .maps {
        width: 350px;
        height: 200px;
    }
    .location,.phone,.fax,.email {
        width: 350px;
    }
    .a_contact {
        font-size: 17px;
    }
    .index_p{
        font-size: 17px;
    }
    .last_post{
        margin-bottom: 40px;
    }
    .left,.right{
        font-size: 20px;
    }
/*---------------------------------------ABOUT--------375px---------------------------*/
    .about_dinner {
        width: 350px;
        height: 350px;
    }
/*------------------------------------------------------BLOG-----375px------------------------------*/
    .blog_container {
        max-width: 350px;
    }
    .blog_write_pictures,.blog_pictures{
        width: 350px;
        height: 200px;
        margin: auto;
    }
/*-------------------------------------------------PROJECT----375px-------------------------*/
    .project_a {
        font-size: 10px;
        padding: 10px 15px;
    }


}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {
    /*-----------------------------------------------INDEX-------320px--------------------------------*/
    .menu i {
        padding-top: 0;
    }
    .bg h1 {
        font-size: 40px;
    }
    .main {
        max-width: 300px;
    }
    .keyboard,.maps{
        width: 300px;
        height: 200px;
    }
    .three_photo{
        width: 296px;
    }
    .right,.left{
        font-size: 15px;
    }
    .contact p{
        font-size: 17px;
    }
    .location,.phone,.fax,.email {
        width: 300px;
    }
    /*----------------------------------------ABOUT---320px-----------------------------*/
    .about_dinner {
        width: 300px;
        height: 300px;
    }
    /*------------------------------------------BLOG----320px---------------------------------*/
    .blog_container {
        max-width: 320px;
    }
    .blog_write_pictures,.blog_pictures{
        width: 300px;
        height: 150px;
        margin: auto;
    }
/*---------------------------------------------CONTACT---320px-------------------------------------*/
    .contact_mid_left_top h6{
        font-size: 25px;
        line-height: 30px;
    }
    .contact_mid_left_bottom p {
        font-size: 20px;
        line-height: 20px;
    }
    .contact_tel {
        font-size: 20px;
    }
    .contact_container h3 {
        font-size: 50px;
        margin-bottom: 80px;
    }
    .contact_container h5{
        font-size: 30px;
    }
    .contact_link {
        border: solid 1px #000;
        padding: 20px 40px;
        font-size: 20px;
    }
    .contact_mid_left_top,.contact_mid_right_top,.contact_mid_left_bottom,.contact_mid_right_bottom {
        height: 220px;
    }
    .contact_tel:before {
        margin-bottom: 30px;
    }
}
