*{
    padding: 0;
    margin: 0;
    font-size: inherit;
    text-decoration: none;
    box-sizing: border-box;

}
body{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.bg{
    background-image: url('../images/bg_header.jpg');
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.header_div{
    margin: auto;
    max-width: 1186px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}
.logo_header{
    width: 190px;
    height: 45px;
}
.logo_header_img{
    width: 100%;
    height: 100%;
}
header{
    position: fixed;
    width: 100%;
}
header nav {
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 18px;
    height: 12px;
}
.btn{
    background-color: transparent;
    border: none;
    color: #fff;
    margin-left: 5px;
}
header h4{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.bg h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 10px;
    position: absolute;
    left: 10%;
    top: 55%;
}
.who_we_are{
    background-color: #fff;
    padding-top: 81px;
    padding-bottom: 163px;
}
.main{
    max-width: 758px;
    margin: auto;
    text-align: center;
}
.main_h5{
    font-weight: 600;
    font-size: 13px;
    color: #d4af37;
    text-transform: uppercase;
    margin-bottom: 31px;
}
.main_h3{
    text-transform: capitalize;
    font-size: 44px;
    color: #a5a8ab;
    margin-bottom: 82px;
    font-weight: 600;
}
.index_p{
    font-weight: 300;
    font-size: 18px;
    color: #021725;
    line-height: 32px;
    margin-bottom: 51px;
}
.who_we_are a{
    border: 1px solid #000;
    color: #676d73;
    list-style: none;
    text-align: center;
    padding: 25px 46px 21px 48px;
}
.what_we_do{
    text-align: center;
    padding-bottom: 161px;
}
h4{
    font-size: 24px;
    color: #7c8186;
    margin-bottom: 39px;
    margin-left: 18px;
}
.photo h5{
    margin-left: 18px;
}
.all_photo{
    display: flex;
    justify-content: space-between;
}
.photo{
    background-color: #f9f9f9;
    margin: 0 2px;
    text-align: left;
}
.three_photo{
    width: 248px;
    height: 193px;
    margin-bottom: 18px;
}
.photo img{
    margin-bottom: 20px;
}
.photo p{
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 49px;
    margin-left: 18px;
}
.who_we_are2{
    padding-bottom: 165px;
}
.maps{
    width: 758px;
    height: 300px;
    margin-bottom: 50px;
}
.mustache{
    width: 100%;
    height: 100%;
}
.last_post{
    margin-bottom: 162px;
}
.keyboard{
    width: 380px;
    height: 390px;
}
.last_photo{
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin-bottom: 84px;
}
.index_time{
    font-size: 13px;
    color: #505d68;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 25px;
}
.time\+p{
    width: 380px;
    height: 390px;
    overflow: hidden;
    padding: 33px 36px 37px;
    text-align: left;
}
.time\+p h6{
    font-size: 30px;
    color: #505d68;
    padding-bottom: 40px;
}
.index_time\+p{
    font-weight: 300;
    font-size: 16px;
    color: #505d68;
    line-height: 25px;
    margin-bottom: 55px;
}
.time\+p a{
    border: 1px solid #000;
    padding: 20px 45px 17px;
    color: #505d68;
    font-weight: 300;
    list-style: none;
}
.more{
    font-weight: 300;
    font-size: 14px;
    color: #505d68;
    padding: 25px 46px 24px 50px;
    border: 1px solid #000;
    text-transform: capitalize;
}
.contact_us{
    padding-bottom: 80px;
}
.maps\+contact{
    background-color: #f9f9f9;
}
.contact h5{
    margin-bottom: 50px;
    color: #505d68;
}
.contact p{
    font-size: 19px;
    color: #505d68;
}
.contact{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.location,.phone,.fax,.email{
    width: 50%;
}
.maps\+contact img{
    margin-bottom: 52px;
}
.a_contact{
    font-size: 19px;
    color: #505d68;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 51px;
}
footer p{
    font-weight: 300;
    font-size: 13px;
    margin: 44px 15px 39px 15px;
    color: #505d68;
}
footer a{
    font-weight: 300;
    font-size: 13px;
    margin: 48px 15px 35px 15px;
    color: #505d68;
    list-style: none;
}
footer{
    background-color: #eee;
}
.footer_main{
    max-width: 758px;
    margin: auto;
}
.right{
    float: right;

}
.left{
    float: left;
}
.clear{
    clear: both;
}
/*------------------------------------------------ABOUT------------------------------------------------------*/
.about_bg{
    background-image: url('../images/bg_header_about.jpg');
    background-size: cover;
    height: 100vh;
    margin-bottom: 170px;
}
.about_section{
    max-width: 773px;
    margin: auto;
    padding-bottom: 158px;
    text-align: center;
}
.about_section p{
    font-size: 18px;
    color: #021725;
    line-height: 30px;
    font-weight: 300;
}
.about_dinner{
    width: 640px;
    height: 450px;
}
.about_dinner img{
    width: 100%;
    height: 100%;
}
.photo_about{
    background-color: #f9f9f9;
}
.photo_about h6{
    color: #505d68;
    font-size: 45px;
    font-weight: 600;
    margin: 56px 15px 95px 42px;
}
.photo_about p{
    font-weight: 300;
    font-size: 18px;
    color: #505d68;
    margin: 0 15px 50px 56px;
    line-height: 30px;
}
.about_p\+ul{
    display: flex;
    justify-content: space-between;
}
.photo_about ul{
    list-style: none;
    color: #505d68;
    margin: 209px 73px 50px 100px;
}
.photo_about li{
    line-height: 30px;
}
.photo_about li:before{
    content: "-";
    width: 6px;
    height: 2px;
    color: #505d68;
    margin-right: 10px;
}
/*-----------------------------------------------BLOG-----------------------------------------------*/

.blog_header_bg{
    background-image: url('../images/blog_header_bg.png');
    background-size: cover;
    height: 400px;
}
.blog_main{
    background-color: #fff;
    padding: 78px 64px;
}
.blog_container{
    margin: auto;
    max-width: 1150px;
    background-color: #f9f9f9;
    padding: 63px 70px 65px 63px;
    text-align: center;
}
.blog_write{
    background-color: #fff;
    padding: 32px;
    text-align: left;
    margin-bottom: 57px;
}
.blog_write_pictures{
    width: 600px;
    height: 400px;
    margin-bottom: 40px;
}
.blog_write_pictures img{
    width: 100%;
    height: 100%;
}
.blog_main h2{
    font-size: 30px;
    color: #000;
    padding-bottom: 34px;
    font-weight: 300;
}
.blog_time{
    font-weight: 300;
    font-size: 15px;
    color: #d3b000;
}
.blog_write p{
    color: #747a7f;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 72px;
    margin-top: 42px;
}
.blog_write a{
    color: #021725;
    font-size: 16px;
    border: 1px solid #000;
    padding: 20px 52px 17px 54px;
}
aside{
    text-align: left;
}
.blog_h3{
    font-size: 23px;
    color: #021725;
    font-weight: 300;
    padding-bottom: 17px;
    border-bottom: 3px solid #d3b000;
    margin-bottom: 40px;
}
.blog_pictures{
    width: 300px;
    height: 300px;
    padding: 1px;
}
.blog_img{
    width: 100%;
    height: 100%;
}

aside ul{
    list-style: none;
}
.blog_a{
    font-size: 16px;
    color: #021725;
    line-height: 24px;
}
.list3{
    display: flex;
    flex-direction: column;
}
.list1,.list2{
    margin-bottom: 64px;
}
.secondary_container{
    display: flex;
    justify-content: space-between;
}
.blog_last_link{
    color: #021725;
    font-size: 16px;
    border: 1px solid #000;
    padding: 20px 52px 17px 54px;
}
/*--------------------------------------CONTACT---------------------------------------------*/
.contact_top{
    height: 399px;
    background-image: url('../images/contact_header.png');
    background-size: 100%;
}
.contact_container{
    max-width: 768px;
    margin: auto;
    text-align: center;
}
.contact_container h5{
    margin-top: 127px;
    margin-bottom: 32px;
}
.contact_container h3{
    margin-bottom: 88px;
}
.contact_mid_left_top{
    width: 300px;
    height: 300px;
    background-color: #d3b000;
    padding: 33px 86px 0 33px;
    overflow: hidden;
    text-align: left;
    float: left;
}
.contact_mid_left_top h6{
    font-size: 25px;
    color: #fff;
    line-height: 32px;
}
.contact_mid_left_top h6:before{
    content: "";
    display: block;
    border-top: solid 3px #fff;
    width: 31px;
    margin-bottom: 51px;

}
.lisbon{
    height: 100%;
    width: 100%;
}
.contact_mid_right_top{
    max-height: 300px;
    max-width: 462px;
    float: right;
}
.contact_mid_left_bottom{
    max-height: 300px;
    max-width: 462px;
    padding: 52px 46px 44px;
    background-color: #f9f9f9;
    text-align: left;
    overflow: hidden;
    float: left;
}
.contact_mid_left_bottom p{
    font-size: 20px;
    color: #323d43;
    line-height: 32px;
}
.contact_mid_right_bottom{
    width: 300px;
    height: 300px;
    background-color: #212121;
    padding: 52px 38px 0 31px;
    float: right;
}
.contact_tel{
    font-size: 24px;
    color: #fff;
}
.contact_tel:before{
    content: "";
    display: block;
    border-top: solid 3px #fff;
    width: 31px;
    margin-bottom: 51px;
}
.contact_link{
    border: solid 1px #000;
    padding: 25px 57px 21px;
    list-style: none;
    color: #323d43;
}
.contact_mid{
    margin-bottom: 78px;
}
.contact_container{
    margin-bottom: 86px;
}

/*-------------------------------------------PROJECT----------------------------------------------*/

.project_top{
    background-image: url('../images/project_header_bg.png');
    background-size: cover;
    height: 100vh;
    margin-bottom: 84px;
}

.project_main{
    max-width: 1150px;
    margin: auto;
    background-color: #f9f9f9;
}
.project_container{
    max-width: 1016px;
    margin: auto;
}
.project_left h6{
    font-weight: 600;
    font-size: 45px;
    color: #000;
    padding-top: 88px;
    padding-bottom: 133px;
}
.project_left_p{
    max-width: 667px;
    height: 208px;
    overflow: hidden;
    margin-bottom: 108px;
}
.project_left_p p{
    font-size: 20px;
    color: #000;
    line-height: 32px;
}
.project_img_left_min{
    width: 666px;
    height: 416px;
    margin-bottom: 19px;
}
.project_img_left_max{
    width: 666px;
    height: 863px;
    margin-bottom: 19px;
}
.project_img_right{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 3px;
}
.project_container img{
    width: 100%;
    height: 100%;
}
.project_left{
    margin-bottom: 64px;
    float: left;
}
.project_right{
    margin-top: 64px;
    float: right;
}
.project_link{
    max-width: 1016px;
    margin: auto;
}
.project_link{
    margin-bottom: 73px;
    margin-top: 104px;
}
.project_ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.project_a{
    border: solid 1px #a1a1a1;
    font-size: 15px;
    color: #c0c0c0;
    font-weight: 300;
    list-style: none;
    padding: 22px 95px;
}


/*------------------------------------------------WORK--------------------------------------------------*/

.work_top{
    background-image: url('../images/work_header_bg.png');
    background-size: 100%;
    height: 400px;
    margin-bottom: 128px;
}
.work_container{
    max-width: 760px;
    margin: auto;
    text-align: center;
}
.work_h5{
    font-size: 13px;
    color: #d4af37;
    margin-bottom: 32px;
    font-weight: 600;
}
.work_h3{
    font-size: 44px;
    color: #a5a8ab;
    margin-bottom: 60px;
    font-weight: 700;
}
.work_p{
    font-size: 18px;
    color: #021725;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 136px;
}
.work_all_img{
    width: 300px;
    height: 317px;
    padding: 1px;
}
.work_all_img{
    width: 25%;
}
.work_img{
    width: 100%;
    height: 100%;
}
.work_grid_img{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    margin-bottom: 6px;
}