*{
    padding: 0;
    margin: 0;
    font-size: inherit;
    text-decoration: none;
    box-sizing: border-box;

}
body{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.bg{
    background-image: url('../images/bg_header.jpg');
    background-size: cover;
    height: 100vh;
    text-align: center;
}
header{
    margin: auto;
    max-width: 1186px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}
header nav {
    display: flex;
    justify-content: space-between;
}
.btn{
    background-color: transparent;
    border: none;
    color: #fff;
    margin-left: 5px;
}
header h4{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.bg h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 10px;
}
.who_we_are{
    background-color: #fff;
    padding-top: 81px;
    padding-bottom: 163px;
}
.main{
    max-width: 758px;
    margin: auto;
    text-align: center;
}
h5{
    font-weight: 600;
    font-size: 13px;
    color: #d4af37;
    text-transform: uppercase;
    margin-bottom: 31px;
}
h3{
    text-transform: capitalize;
    font-size: 44px;
    color: #a5a8ab;
    margin-bottom: 82px;
    font-weight: 600;
}
p{
    font-weight: 300;
    font-size: 18px;
    color: #021725;
    line-height: 32px;
    margin-bottom: 51px;
}
.who_we_are a{
    border: 1px solid #000;
    color: #676d73;
    list-style: none;
    text-align: center;
    padding: 25px 46px 21px 48px;
}
.what_we_do{
    text-align: center;
    padding-bottom: 161px;
}
.grid_img{
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.grid_img img{
    width: 24.7%;
    margin: 2px;
}
h4{
    font-size: 24px;
    color: #7c8186;
    margin-bottom: 39px;
    margin-left: 18px;
}
.photo h5{
    margin-left: 18px;!important;
}
.all_photo{
    display: flex;
    justify-content: space-between;
}
.photo{
    background-color: #f9f9f9;
    margin: 0 2px;
    text-align: left;!important;
}
.photo img{
    margin-bottom: 20px;
}
.photo p{
    font-weight: 300;
    font-size: 13px;!important;
    margin-bottom: 49px;
    margin-left: 18px;
}
.who_we_are2{
    padding-bottom: 165px;
}
.mustache{
    max-width: 100%;
}
.last_post{
    margin-bottom: 162px;
}
.last_photo{
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin-bottom: 84px;
}
time{
    font-size: 13px;
    color: #505d68;
    margin-bottom: 27px;
    text-transform: uppercase;
    display: inline-block;
}
.time\+p{
    padding: 43px 38px 60px;
    text-align: left;
}
.time\+p h6{
    font-size: 30px;
    color: #505d68;
    padding-bottom: 43px;
}
.time\+p p{
    font-weight: 300;
    font-size: 16px;
    color: #505d68;
    line-height: 25px;
    padding-bottom: 58px;
}
.time\+p a{
    border: 1px solid #000;
    padding: 20px 47px 17px;
    color: #505d68;
    font-weight: 300;
    list-style: none;
}
.more{
    font-weight: 300;
    font-size: 14px;
    color: #505d68;
    padding: 25px 46px 24px 50px;
    border: 1px solid #000;
    text-transform: capitalize;
}
.contact_us{
    padding-bottom: 80px;
}
.maps\+contact{
    background-color: #f9f9f9;
}
.contact h5{
    margin-bottom: 50px;!important;
    color: #505d68;!important;
}
.contact p{
    font-size: 19px;!important;
    color: #505d68;!important;
}
.contact{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.location,.phone,.fax,.email{
    width: 50%;
}
.maps\+contact img{
    margin-bottom: 52px;
}
.a_contact{
    font-size: 19px;
    color: #505d68;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 51px;
}
footer p{
    font-weight: 300;
    font-size: 13px;!important;
    margin: 44px 15px 39px 15px;
    color: #505d68;!important;
}
footer a{
    font-weight: 300;!important;
    font-size: 13px;!important;
    margin: 48px 15px 35px 15px;!important;
    color: #505d68;!important;
    list-style: none;
}
footer{
    background-color: #eee;
}
.right{
    float: right;
}
.left{
    float: left;
}
.clear{
    clear: both;
}
/*------------------------------------------------2 СТРАНИЦА------------------------------------------------------*/
.about_bg{
    background-image: url('../images/bg_header_about.jpg');
    background-size: cover;
    height: 100vh;
    margin-bottom: 170px;
}
.about_section{
padding: 0 254px 158px;
}
.about_section p{
    font-size: 18px;
    color: #a5a8ab;
    line-height: 30px;
    text-align: center;
    font-weight: 300;
}
.about_dinner{
    width: 640px;
    height: 450px;
}
.about_dinner img{
    max-width: 100%;
    max-height: 100%;
}
.photo_about{
    background-color: #f9f9f9;
}
.photo_about h6{
    color: #505d68;
    font-size: 45px;
    font-weight: 600;
    margin: 56px 0 96px 41px;
}
.photo_about p{
    font-weight: 300;
    font-size: 18px;
    color: #505d68;
    margin: 0 99px 50px 58px;
    line-height: 30px;
}
.about_p\+ul{
    display: flex;
    justify-content: space-between;
}
.photo_about ul{
    list-style: none;
    color: #505d68;
    margin: 209px 73px 50px 0;
}
.photo_about li{
    line-height: 30px;
}
.photo_about li:before{
    content: "-";
    width: 6px;
    height: 2px;
    color: #505d68;
    margin-right: 10px;
}
/*------------------------------------------------------3 СТРАНИЦА-----------------------------------------------*/
